<% layout('/common/layout') -%>
<% block('css').append('<link type="text/css" href="/index/main.css">') %>
<h1>I am the template</h1>
<% block('js').append('<script src="/index/main.js"></script>') %>